.btnHero{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(203, 113, 105);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5rem;
}

.btnHero:hover{
    background: rgba(135, 54, 50, 1);
    color: var(--color-texto);
    transition: 0.3s;
}

.mask{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.sobreImagen{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

.hero{
    height: 100%;
    width: 100%;
}

.contenido{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
    text-align: center;
    color: var(--color-texto);
    z-index: 2;
}

.contenido h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    
}

.contenido p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}



@media screen and (max-width: 830px)
{
   .contenido h1{
    font-size: 3rem;
   }
    
    .hero .contenido p{
        font-size: 1.4rem;
    }
}

